body {
  margin:0; padding:0;
}

#map {
  position:absolute; top:0; bottom:0; width:100%;
}

#auction-link {
  position: fixed;
  right: 100px;
  top: 20px;
  z-index: 2;
  color: black;
  background-color: white;
  padding: 5px;
}

#auction-link:hover {
  background-color: #7FFF00;
  text-decoration: none;
  cursor: pointer;
}